@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-color: #2887ff;
  --primary-color-dark: #2476da;
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  margin-bottom: 12rem;
}

.section__header {
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

  .logo {
    margin-bottom: -2rem;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--text-dark);
  }

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo .logo {
  font-size: 1.5rem;
  color: var(--white);
  margin-left: -16rem;
}

.nav__logo .logo2 {
  font-size: 1.5rem;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 600;
  color: var(--white);
  white-space: nowrap;
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btns {
  display: none;
}

.destination__container :is(.section__header, .section__description) {
  text-align: left;
  margin-inline-start: unset;
}

.destination__grid {
  margin-left: 1px;
  margin-top: 2rem;
  display: grid;
  width: 100rem;
  height: 73rem;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imagecontainer img {
  border-radius: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.destination__card img {
  width: 38rem;
  height: 25rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.destination__card__details {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.destination__card__details h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  columns: var(--text-dark);
}

.destination__card__details p {
  columns: var(--text-light);
}

.destination__card:hover .destination__rating {
  background-color: var(--primary-color-dark);
}

.showcase__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.showcase__image img {
  max-width: 400px;
  margin-inline: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.showcase__content h4 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-dark);
}

.showcase__content p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.showcase__content .btn {
  width: 100%;
  margin-top: 2rem;
  padding: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  background-image: url("assets/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media (width > 540px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .showcase__content {
    margin-left: 1rem;
  }

  .showcase__content2 {
    text-align: justify;
    margin-top: 58rem;
    margin-bottom: 32rem;
    margin-left: -72rem;
    margin-right: 28.5rem;
  }

}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo .logo {
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__links li:last-child {
    display: none;
  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .nav__btns button {
    padding: 0.75rem 2rem;
    background-color: var(--text-dark);
  }

  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase__content {
    grid-column: 2/4;
  }

  .showcase__content p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .discover__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1200px) {
  .header__content {
    padding-inline: 1rem 0;
  }

  .destination__grid {
    gap: 2rem;
  }
}

/* perintah */
.discover__grid {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}

.discover__card {
  padding: 2rem 1rem;
  text-align: center;
  transition: 0.3s;
  border-radius: 1rem;
}

.discover__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.discover__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: rgba(40, 135, 255, 0.1);
  border-radius: 100%;
}

.discover__card h4 {
  max-width: 150px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

/* footer */
.footer-basic {
  padding:15px 0;
  background-color:#414141;
  color:#ffffff;  
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}